CrazyDriver/**/* filter=lfs diff=lfs merge=lfs -text
'CrazyDriver/**' filter=lfs diff=lfs merge=lfs -text
'CrazyDriver/zzz**' filter=lfs diff=lfs merge=lfs -text
CrazyDriver/** filter=lfs diff=lfs merge=lfs -text
